{% extends "monitor/header.html" %}
{% block content %}
 <div class="row">
<!--<script>
     setTimeout(function(){
          window.location.reload(1);
     }, 25000);
</script>-->

      <div class="col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-1" style="margin: 0px; padding-top: 15px" >
            <a href="/camera1">
              <img class="img-responsive" id="liveStream" src="/camera1" width="320" height="240"  alt="Monitor-1"/> 
             </a>
      </div>
      <div class="col-xs-12 col-xs-offset-1 col-sm-4" style="margin: 0px; padding-top: 15px" >
            <a href="/schlage1">
              <img class="img-responsive" id="liveStream" src="/schlage1" width="320" height="240"  alt="Schlage1"/> 
            </a>
      </div>
      <div class="col-xs-12 col-xs-offset-1 col-sm-4" style="margin: 0px; padding-top: 15px" >
            <a href="/schlage2">
              <img class="img-responsive" id="liveStream" src="/schlage2" width="320" height="240"  alt="Schlage2"/> 
            </a>
            </div>
 </div>
 <!--<div class="row">
      <div class="col-xs-12 col-xs-offset-1 col-sm-4 col-sm-offset-1" style="margin: 0px; padding-top: 15px" >
            <a href="/camera4">
              <img class="img-responsive" id="liveStream" src="/camera4" width="320" height="240"  alt="Monitor-4"/> 
            </a>
      </div>
      <div class="col-xs-12 col-xs-offset-1 col-sm-4" style="margin: 0px; padding-top: 15px" >
            <a href="/camera5">
              <img class="img-responsive" id="liveStream" src="/camera5" width="320" height="240"  alt="Monitor-5"/> 
            </a>
      </div>
      <div class="col-xs-12 col-xs-offset-1 col-sm-4" style="margin: 0px; padding-top: 15px" >
        <a href="/camera6"><img style="width: 320px;height: 240px;align: middle" src="http://user1:1234@10.1.5.51/img/video.mjpeg" alt="Monitor-6"></img></a>
        </div>-->
 </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
